@import '../base/variables';
@import '../vendors/include-media';
@import '../vendors/normalize';
@import '../layout/common';
@import '../base/helpers';

.get-in-touch-section {
    position: relative;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    background-color: #F1F6F8;
    padding-top: 120px;
    padding-bottom: 120px;
    background-image: url("../../images/waves.png");

    .container {
        max-width: 1170px;
        display: flex;
        flex-direction: column;
        @include media(">=tablet") {
            flex-direction: row;
        }
    }

    .col {
        display: flex;
        flex-direction: column;
        @include media(">=tablet") {
            justify-content: flex-end;
            width: 50%;
        }
    }

    .section-title {
        font-weight: 400;
        font-size: 70px;
        line-height: 82px;
        font-family: $base-font-serif;
        color: $black;
        margin-bottom: auto;
    }

    .link {
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        color: $green;
        margin-bottom: 15px;
    }

    .box-address {
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        color: $black;
        margin-bottom: 30px;
        @include media(">=tablet") {
            margin-bottom: 0;
        }
    }

    .box-form {
        form {
            display: flex;
            flex-direction: column;
        }

        input, textarea {
            border: 1px solid #C9CCD4;
            border-radius: 6px;
        }

        input {
            margin-bottom: 15px;
            min-height: 60px;
        }

        textarea {
            margin-bottom: 30px;
            min-height: 130px;
        }

        .btn {
            border: 0;
        }
    }
}