// Fonts
$sansSerif: 'Inter';

// Font Sizing
$baseFontSize: 16px;
$baseLineHeight: 1.5;
$headingLineHeight: 1.2;

// Colors
$black: rgba(51, 51, 51, 1);
$red: #d52b1e;
$blue: #48C0F8;
$green: #21C004;
$black: #000;
$black-800: #191F25;
$gray: #F5F5F5;
$white: #fff;

// Spacing
$pad: 1em;

// Breakpoints
$smallBreakpoint: 600px;
$largeBreakpoint: 1080px;