.post-type-archive-product {
    .site {
        & > .container {
            max-width: 1500px;
            flex-direction: column;
        }
    }

    .woocommerce-result-count {
        display: none;
    }

    .shop-search {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 40px;

        .search-form {
            position: relative;
            margin-right: 40px;

            .search-field {
                height: 56px;
                border-radius: 5px;
                border: 2px solid $black;
                min-width: 350px;
                padding: 0 20px;
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;

                &::placeholder {
                    color: $black;
                }
            }

            .search-submit {
                position: absolute;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
                font-size: 0;
                outline: none;
                background: transparent;
                border: 0;
                width: 20px;
                height: 20px;
                background-image: url("./assets/img/search.png");
                background-repeat: no-repeat;
                background-size: contain;
            }

        }

        .orderby {
            height: 56px;
            border-radius: 5px;
            border: 2px solid $black;
            padding-left: 20px;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;

            &::placeholder {
                color: $black;
            }
        }
    }

    .opener {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: $black;
        padding: 16px 28px;
        border: 2px solid $black;
        border-radius: 5px;
        margin-left: 20px;
        max-height: 56px;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            background-color: $black;
            color: $white;
        }
    }

    .info {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;

        .products {
            width: calc(100% - 350px);
            display: flex;
            flex-wrap: wrap;
            margin: 0 -15px;

            .product {
                margin-right: 0;
                width: 100%;
                padding: 0 15px;
                margin-bottom: 60px;
                @include media(">=768px") {
                    width: 50%;
                }
                @include media(">=1024px") {
                    width: 25%;
                }

                a {
                    display: inline-block;
                    color: $black;
                    text-decoration: none;
                }

                .amount {
                    font-weight: 600;
                }

                .added_to_cart {
                    display: none;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    max-height: 430px;
                    margin-bottom: 20px;
                }

                .info {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 30px;
                    flex-direction: row;

                    .woocommerce-loop-product__title {
                        margin-bottom: 0;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 22px;
                        color: $black;
                        text-decoration: none;
                    }


                }

                .button {
                    border: 2px solid currentColor;
                    border-radius: 5px;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 22px;
                    transition: 0.3s;
                    color: $black;
                    text-decoration: none;
                    padding: 16px 40px;
                    display: inline-block;
                    position: relative;

                    &:after {
                        content: '+';
                        position: absolute;
                        left: 20px;
                        top: 50%;
                        transform: translateY(-50%);
                    }

                    &:hover {
                        background-color: $black;
                        color: $white;
                    }

                }
            }
        }

    }

    .woocommerce-pagination     {
        .page-numbers {
            display: flex;
            padding: 0;
            list-style: none;
        }
    }
}
