.contact-us-section {
    & > .container {
        flex-direction: column;
    }

    .section-title {
        font-weight: 700;
        font-size: 32px;
        line-height: 42px;
        margin-bottom: 20px;
        text-align: center;
        @include media(">=768px") {
            font-size: 42px;
            line-height: 52px;
            margin-bottom: 40px;
        }
        @include media(">=1024px") {
            margin-bottom: 90px;
            font-size: 48px;
            line-height: 60px;
        }
    }

    .box-info {
        display: flex;

        .col {
            width: 50%;
        }
    }
}